<div class="popup-invitacion-container" *ngIf="invitacionControlService.isVisible">
  <div class="popup-content col-10 justify-content-center rounded-4">
    <button class="border-0 bg-transparent p-3" (click)="closePopup()"><i class="bi bi-x display-1 color-opuesto"></i></button>
      <label (click)="copyToClipboard()" class="container px-4 pb-4 d-flex justify-content-center align-items-center">
        <h2 class="color-opuesto m-0">Hacé click acá para copiar el link de unión del evento e invitar a los integrantes</h2>
        <i id="icono-cadena" class="bi bi-link-45deg color-opuesto d-flex h-100 w-75 justify-content-center"></i>
      </label>
  </div>
</div>
