<div class="popup-invitacion-container" *ngIf="invitacionControlService.isVisible">
  <div class="col-10 justify-content-center">
    <div class="popup-content justify-content-center text-center">
      <div class="text-center cerrarBtn">
        <button style="margin-right: 100%; background-color: #3f4244; color: white;" (click)="closePopup()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div>
        <h2 style="margin-bottom: 20px;">Copia y envía el siguiente link a las personas que quieres que se unan al evento</h2>
      <div class="imagen-cadena justify-content-center text-center" style="margin-left: 30px; margin-top: 30px;">
        <a>
          <img #imgElement src="assets/cadena.png" class="img-fluid" data-link="https://boulderbugle.com/linkdeejemplo-kqlwf7fb">
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
