<mat-card>
    <div id="paso3">
        <h1 class="tituloTipoEvento">Ubicacion</h1>

        <form>
            <div id="cajaLugarEvento">
                <h2 id="tituloUbicacion" class="d-flex justify-content-center">Defina la Ubicacion para el Evento</h2>
                <div id="buscarUbicacion" class="d-flex justify-content-around">
                    <input type="text" id="ingresarTexto" string="Ingrese Lugar">
                    <label for="ingresarTexto">Ingrese la Ubicacion</label>
                    <button>
                        <mat-icon aria-hidden="false" aria-label="Example search icon" fontIcon="search"></mat-icon>
                    </button>
                    <button>
                        <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon>
                    </button>
                </div>

            </div>
        </form>
        
    </div>
</mat-card>


