<mat-card>
    <div id="paso2" class="body">
        <h1 class="tituloTipoEvento d-flex align-items-center justify-content-center">Nombre y Fecha</h1>
        <form #paso1Form="ngForm" class="d-flex justify-content-center">
            <div id="cajaTipoEvento" class="cajaPrincipal d-flex flex-column justify-content-center">
                <h2 id="tituloTipoEvento" class="d-flex justify-content-center align-items-center">Defina el Nombre del Evento</h2>
                <div id="inputText" class="d-flex align-items-center justify-content-center">
                    <input class="titulo" [(ngModel)]="dataEvento.nombre" type="text" placeholder="Escriba Aquí" [ngModelOptions]="{standalone: true}">
                </div>
                
                <!--Fecha Evento-->
                <h2 id="tituloTipoEvento" class="d-flex justify-content-center align-items-center">Defina la Fecha para el Evento</h2>
                <div class="fechaYHora-container text-center col-8 mx-auto d-flex align-items-center justify-content-center">
                    <input type="date" [(ngModel)]="dataEvento.fecha" placeholder="Fecha" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="fechaYHora-container text-center col-8 mx-auto d-flex align-items-center justify-content-around">
                    <input type="time" placeholder="Hora">
                </div>
                
                <!--Toggle de Todo el día-->
                <div class="row col-12 text-center">
                    <div class="col-12 d-flex align-items-center justify-content-evenly">
                        <h3 class="tituloToggle">¿Todo el Día?</h3>
                        <h3><mat-slide-toggle></mat-slide-toggle></h3>
                    </div>
                </div>
                
                <!--Descripción-->
                <div class="col-md-12 text-center">
                    <h2 class="mx-auto">¿Quiere agregar una Descripción?</h2>
                    <div id="inputText" class="d-flex align-items-center justify-content-center">
                        <input [(ngModel)]="dataEvento.descripcion" class="descripcion" type="text" placeholder="Agrega una Descripción" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

            </div>
        </form>
    </div>
<!--
    <div id="seleccion de nombre" class="d-flex justify-content-center container">
        <div class="row">
            <div><h1 class="text-center">Define el nombre del evento</h1></div>
            <div><input type="text" placeholder="Escriba Aquí"></div>
        </div>

    </div>
    <div id="seleccion de fecha">

    </div>
-->
</mat-card>


<!--
                Fecha Evento
                <h2 id="tituloTipoEvento" class="d-flex justify-content-center align-items-center">Defina la Fecha para el Evento</h2>
                <div class="d-flex align-items-center justify-content-center">
                    <input type="date" [(ngModel)]="dataEvento.fecha" placeholder="Fecha" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="d-flex align-items-center justify-content-around">
                    <input type="time" placeholder="Hora">
                </div>
                Todo el dia?
                <div class="containerTodoElDia d-flex align-items-center justify-content-evenly">
                    <h3>¿Todo el Día?</h3>
                    <h3><mat-slide-toggle></mat-slide-toggle></h3>
                </div>
-->