<mat-card>
    <div id="paso2" class="body">
        <h1 class="tituloTipoEvento d-flex align-items-center justify-content-center">Nombre y Fecha</h1>

    <form #paso1Form="ngForm" class="d-flex justify-content-center">
        <div id="cajaTipoEvento" class="cajaPrincipal d-flex flex-column justify-content-center">
            <h2 id="tituloTipoEvento" class="d-flex justify-content-center align-items-center">Defina el Nombre del Evento</h2>
            <div id="inputText" class="d-flex align-items-center justify-content-center">
                <input class="titulo" [(ngModel)]="dataEvento.nombre" type="text" placeholder="Escriba Aquí" [ngModelOptions]="{standalone: true}">
            </div>

            <h2 id="tituloTipoEvento" class="d-flex justify-content-center align-items-center">Defina la Fecha para el Evento</h2>
            <div class="d-flex justify-content-center">
                <div id="cajaDeInput" class="d-flex flex-column align-items-evenly">
                    <div class=" box d-flex align-items-center justify-content-between">
                        <h3>Día</h3>
                        <input class="d-flex flex-row-reverse" type="date" [(ngModel)]="dataEvento.fecha" [ngModelOptions]="{standalone: true}" min="2023-12-01" required>
                    </div>
                    <div class=" box">
                        <h3 *ngIf="!dataEvento.todoElDia">Hora</h3>
                                               
                        <div class="d-flex justify-content-between">
                            <input class="d-flex flex-row-reverse" type="time"[(ngModel)]="dataEvento.horaInicio" *ngIf="!dataEvento.todoElDia">
                            <h4 *ngIf="!dataEvento.todoElDia">-</h4>
                            <h4 *ngIf="!dataEvento.todoElDia">Hasta</h4>
                            <h4 *ngIf="!dataEvento.todoElDia">-</h4>
                            <input class="d-flex flex-row-reverse" type="time"[(ngModel)]="dataEvento.horaFin" *ngIf="!dataEvento.todoElDia">
                        </div>
                        
                    </div>
                    <!-- <div class=" box d-flex align-items-center justify-content-between">
                        <h3 *ngIf="!dataEvento.todoElDia">Inicio</h3>
                        <input type="time"[(ngModel)]="dataEvento.horaInicio" placeholder="Hora" *ngIf="!dataEvento.todoElDia">
                    </div>
                    <div class=" box d-flex align-items-center justify-content-between">
                        <h3 *ngIf="!dataEvento.todoElDia">Fin</h3>
                        <input type="time"[(ngModel)]="dataEvento.horaFin" placeholder="Hora" *ngIf="!dataEvento.todoElDia">
                    </div>-->
                    <div class="containerTodoElDia d-flex align-items-center justify-content-between">
                        <h3 class="box">¿Todo el Día?</h3>
                        <h3><mat-slide-toggle (change)="cambiarTodoElDia($event)"></mat-slide-toggle></h3>
                    </div>
                </div>
            </div>
            
            

            <h2 class="d-flex justify-content-center align-items-center">¿Quiere agregar una Descripción?</h2>
            <div id="inputText" class="d-flex align-items-center justify-content-center">
                <textarea [(ngModel)]="dataEvento.descripcion" class="descripcion" type="text" placeholder="Agrega una Descripción" [ngModelOptions]="{standalone: true}" ></textarea>
            </div>

        </div>
    </form>
    </div>
</mat-card>
