

input[type="text"], input[type="date"], input[type="time"]{
    background: none;
    border: none;
}
input[type="date"], input[type="time"]{
    color: #000000;
}
input[type="text"]::placeholder{
    color: #000000;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus{
    outline: none;
}
input[type="date"]:focus, input[type="time"]:focus{
    color: rgb(78, 78, 78);
    transition: 0.1s;
}
input[type="text"]:focus::placeholder{
    color: rgb(78, 78, 78);
    transition: 0.1s;
}
#inputText input{

    background-color: darkgrey;
    text-align: center;

}

input[type="date"]::-webkit-calendar-picker-indicator::after,
  input[type="time"]::-webkit-calendar-picker-indicator::after {
    content: "v";
}

textarea{
    background-color: darkgrey;
    resize: none;
}
textarea::placeholder{
    color: #000000;
}
textarea:focus{
    outline: none;
}
textarea:focus::placeholder{
    color: rgb(78, 78, 78);
    transition: 0.1s;
}
