.icon-home {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.flip-card {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f4244;
}

.flip-card-inner {
  width: 300px;
  text-align: start;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 400px;
}


.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
}

.flip-card-front {
  background-color: #ef7d16;
  color: black;
  font-size: 20px;
}

.flip-card-front h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 32px;
}

.flip-card-back {
  background-color: #f9b668;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back h3{
  padding-left: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.flip-card-back h2 {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

.flip-card-back p{
  padding-left: 15px;
}

.descripcion {
  background: #ffffff91;
  border-radius: 30px;
  padding-left: 15px;
}

.icono-Recurso {
  margin: 50px 105px 25px;
  width: 90px;
  height: 90px;
}

.icono-Recurso-bebida{
  margin: 50px 125px 25px;
  width: 60px;
  height: 90px;
}

.tipo-recurso {
  margin-top: 20px;
  margin-bottom: 10px;
}

.icono-bien,
.icono-mal {
  width: 50px;
  height: 50px;
}

.cumpleCantidad {
  text-align: center;
}

.cumpleCantidad p {
  margin-left: 10px;
  margin-top: 10px;
}

.responsable {
  display: flex;
  justify-content: space-between;
}

.responsable p {
  margin: 0;
}

.responsable .nombre {
  margin-right: auto;
}

.responsable .cantidad {
  padding-right: 20px;
}

.mat-expansion-panel {
  max-width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.mat-expansion-panel .mat-expansion-panel-header {
  height: 38px;
}

.mat-expansion-panel-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recurso-panel{
  margin-bottom: 15px;
}

::ng-deep .recurso-panel .mat-expansion-panel-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 15px;
}

.texto-panel-header {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  padding-top: 10px;
}

table tbody td {
  padding: 8px 45px;
  font-weight: bold;
  text-align: center;
}

.tabla {
  border-collapse: separate;
  width: 100%;
  max-height: 90px !important;
  overflow-y: auto;
}

.agregar-responsable {
  background-color: #f9b668;
  color: white;
  border: none;
  margin: 0 auto;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 8px;
}

.cantidad-container {
  display: flex;
  width: 90%;
  margin: 15px auto;
  border-radius: 10px;
  height: 38px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.cantidad-label,
.cantidad-valor {
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
  padding: 10px 28px;
  text-align: center;
}

.texto-descripcion{
  padding: 30px 0px;
  font-size: 17px;
  border: none !important;
  width: 240px;
  resize: none;
  outline: none;
}

::ng-deep .texto-descripcion:focus{
  padding: 30px 0px;
  font-size: 17px;
  border: none !important;
}

.descripcion-buttons {
  display: flex;
  justify-content: space-evenly;
  background: none;
  padding: 10px;
  border-radius: 10px;
}

.descripcion-buttons button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descripcion-buttons button i {
  font-size: 20px;
  color: #fff;
}

.responsables-buttons{
  display: flex;
  justify-content: space-evenly;
  background: none;
  border-radius: 10px;
}

.responsables-buttons button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsables-buttons button i {
  font-size: 20px;
  color: #fff;
}

.button-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.custom-button {
  color: black;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  text-align: inherit;
}

.custom-button:hover {
  font-weight: bold;
}

.selected {
  border: 2px solid #000;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
  filter: brightness(0.9);
}

.selected-naranja {
  background-color: #f9b668;
}

.selected-verde {
  background-color: #b6cc85;
}

.selected-azul {
  background-color: #a7acce;
}

.selected-rosa {
  background-color: #e6a5b6;
}

.selected-gris-td {
  background-color: #cccccc;
}

.icon-container {
  display: inline-block; /* Alinea el icono e el texto horizontalmente */
  vertical-align: middle; /* Alinea el icono y el texto verticalmente */
}

.custom-icon {
  width: 24px; /* Ancho del icono */
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.custom-icon-bebida .custom-icon {
  width: 18px; /* Ancho específico para el icono "Bebida" */
  height: 24px; /* Alto del icono (igual al de los demás) */
}

.boton-pintura {
  background-image: url('src/assets/iconoPintura.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 38px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff00;
  border: none;
}

.boton-flecha {
  background-image: url('src/assets/iconoFlecha.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 28px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff00;
  border: none;
}

.boton-mas {
  background-image: url('src/assets/iconoMas.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff00;
  border: none;
}

.boton-menos {
  background-image: url('src/assets/iconoMenos.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff00;
  border: none;
}

.color-naranja-front {
  background-color: #ef7d16;
}

.color-verde-front {
  background-color: #76b730;
}

.color-azul-front {
  background-color: #4e5fa8;
}

.color-rosa-front {
  background-color: #df3c65;
}

.color-gris-front {
  background-color: #9f9f9e;
}

.color-naranja-back {
  background-color: #f9b668;
}

.color-verde-back {
  background-color: #b2d06e;
}

.color-azul-back {
  background-color: #949cce;
}

.color-rosa-back {
  background-color: #e77493;
}

.color-gris-back {
  background-color: #cccccc;
}

.color-naranja .mat-expansion-panel-header {
  background-color: #ef923e;
}

.color-verde .mat-expansion-panel-header {
  background-color: #8ccf43;
}

.color-azul .mat-expansion-panel-header {
  background-color: #7985ce;
}

.color-rosa .mat-expansion-panel-header {
  background-color: #df5e7e;
}

.color-gris .mat-expansion-panel-header {
  background-color: #696c70;
}

.color-naranja .mat-expansion-panel-header:hover {
  background-color: #ef923e !important;
}

.color-verde .mat-expansion-panel-header:hover {
  background-color: #8ccf43 !important;
}

.color-azul .mat-expansion-panel-header:hover {
  background-color: #7985ce !important;
}

.color-rosa .mat-expansion-panel-header:hover {
  background-color: #df5e7e !important;
}

.color-gris .mat-expansion-panel-header:hover {
  background-color: #696c70 !important;
}

::ng-deep .color-naranja .mat-expansion-panel-body {
  background-color: #f9c78d;
}

::ng-deep .color-verde .mat-expansion-panel-body {
  background-color: #c6de92;
}

::ng-deep .color-azul .mat-expansion-panel-body {
  background-color: #bec2e0;
}

::ng-deep .color-rosa .mat-expansion-panel-body {
  background-color: #f097af;
}

::ng-deep .color-gris .mat-expansion-panel-body {
  background-color: #d8d7d7;
}

.color-naranja-cantidad {
  background-color: #ef923e;
}

.color-verde-cantidad {
  background-color: #8ccf43;
}

.color-azul-cantidad {
  background-color: #7985ce;
}

.color-rosa-cantidad {
  background-color: #df5e7e;
}

.color-gris-cantidad {
  background-color: #696c70;
}

.color-naranja-td {
  background-color: #f9cfa0;
}

.color-verde-td {
  background-color: #d3deb9;
}

.color-azul-td {
  background-color: #cfd2e5;
}

.color-rosa-td {
  background-color: #eebbc8;
}

.color-gris-td {
  background-color: #f3f2f2;
}



::ng-deep .color-naranja .texto-descripcion {
  background-color: #f9c78d;
}

::ng-deep .color-verde .texto-descripcion {
  background-color: #c6de92;
}

::ng-deep .color-azul .texto-descripcion {
  background-color: #bec2e0;
}

::ng-deep .color-rosa .texto-descripcion {
  background-color: #f097af;
}

::ng-deep .color-gris .texto-descripcion {
  background-color: #d8d7d7;
}