.icon-home {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.flip-card {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f4244;
}

.flip-card-inner {
  width: 300px;
  text-align: start;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 400px;
}


.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
}

.flip-card-front {
  background-color: #ef7d16;
  color: black;
  font-size: 20px;
}

.flip-card-front h2 {
  padding-left: 15px;
}

.flip-card-back {
  background-color: #f9b668;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back h3{
  padding-left: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.flip-card-back h2 {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

.flip-card-back p{
  padding-left: 15px;
}

.descripcion {
  background: #ffffff91;
  border-radius: 30px;
  padding-left: 15px;
}

.icono-mas,
.icono-menos {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
}
.icono-pintura {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 50px;
  height: 50px;
}

.icono-cocaCola {
  margin: 50px 95px 25px;
}

.tipo-recurso {
  margin-top: 20px;
  margin-bottom: 10px;
}

.icono-bien,
.icono-mal {
  width: 50px;
  height: 50px;
}

.cumpleCantidad {
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.cumpleCantidad p {
  margin-left: 10px;
  margin-top: 10px;
}

.responsable {
  display: flex;
  justify-content: space-between;
}

.responsable p {
  margin: 0;
}

.responsable .nombre {
  margin-right: auto;
}

.responsable .cantidad {
  padding-right: 20px;
}

.mat-expansion-panel {
  max-width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.mat-expansion-panel .mat-expansion-panel-header {
  background-color: #ff9933;
  height: 38px;
}

.mat-expansion-panel .mat-expansion-panel-header:hover {
  background-color: #ff9933;
}

.mat-expansion-panel-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recurso-panel{
  margin-bottom: 15px;
}

::ng-deep .recurso-panel .mat-expansion-panel-body {
  background-color: #f9c78d !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px 15px;
}

.texto-panel-header {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  padding-top: 10px;
}

.recurso-panel table tbody td {
  padding: 10px 45px;
  background-color: #f9cfa0;
  font-weight: bold;
  text-align: center;
}

.recurso-panel table {
  border-collapse: separate;
  width: 100%;
}

.agregar-responsable {
  background-color: #f9b668;
  color: white;
  border: none;
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 8px;
}

.cantidad-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 15px auto;
  background-color: #ff9933;
  border-radius: 10px;
  height: 38px;
}

.cantidad-label,
.cantidad-valor {
  font-size: 15px;
  color: #ffffff;
  padding: 10px;
}

.cantidad-divider {
  background-color: #f9b668;
  width: 10px;
  margin: 0 10px;
}

.texto-descripcion{
  padding: 30px 0px;
  font-size: 17px;
  background-color: #f9c78d;
  border: none;
}

.button-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.custom-button {
  background-color: #f9cfa0;
  color: black;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  width: 110px;
  text-align: center;
}

.custom-button:hover {
  background-color: #f9b668;
  font-weight: bold;
}

.active-button {
  background-color: #f9b668;
  font-weight: bold;
}