<div class="fondo flip-card shadow" [ngClass]="{ 'flipped': isFlipped }">

  <nav class="bg-dark-subtle fixed-top d-flex justify-content-start px-2 py-2 altura-nav">
    <button class="ms-2 rounded-2 border-0 bg-light-subtle px-5 py-2" type="button" routerLink="/eventos">
      <i class="bi bi-arrow-left display-5 color-opuesto"></i>
    </button>
  </nav>

  <div class="flip-card-inner">
    <div class="flip-card-front" [ngClass]="{ 'color-naranja-front': selectedColor === '#ef7d16', 'color-verde-front': selectedColor === '#76b730', 'color-azul-front': selectedColor === '#4e5fa8', 'color-rosa-front': selectedColor === '#df3c65', 'color-gris-front': selectedColor === '#9f9f9e' }">
      <img class="icono-Recurso" 
     [src]="'assets/icono' + selectedObjectType?.icono + '.png'" 
     alt="Icono {{ selectedObjectType?.icono }}" 
     [ngClass]="{'icono-Recurso-bebida': selectedObjectType?.icono === 'Bebida'}">
      <h2>{{ recurso.nombre }}</h2>
      <div class="cumpleCantidad">
        <img class="icono-mal" *ngIf="recurso && recurso.cantidadActual >= recurso.cantidadNecesaria" src="assets/iconoBien.png" alt="Icono Bien">
        <img class="icono-bien" *ngIf="recurso && recurso.cantidadActual < recurso.cantidadNecesaria" src="assets/iconoMal.png" alt="Icono Mal">
        <p>{{ getTextoCantidad() }}</p>
      </div>
      <button (click)="flipCard()" class="boton-mas"></button>
    </div>
    <div class="flip-card-back"[ngClass]="{ 'color-naranja-back': selectedColor === '#ef7d16', 'color-verde-back': selectedColor === '#76b730', 'color-azul-back': selectedColor === '#4e5fa8', 'color-rosa-back': selectedColor === '#df3c65', 'color-gris-back': selectedColor === '#9f9f9e' }">
      <div *ngIf="!mostrarColorPicker; else colorPicker">
        <h2>{{ recurso.nombre }}</h2>
        <mat-expansion-panel class="recurso-panel" *ngIf="panelAbierto === 'tipoObjeto' || panelAbierto === 'todos'" (opened)="abrirPanel('tipoObjeto')" (closed)="cerrarPanel('tipoObjeto')"[ngClass]="selectedColorClass">
            <mat-expansion-panel-header class="w-100">
              <mat-panel-title>
                <p class="texto-panel-header">Tipo de Objeto</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="button-grid">
              <button class="custom-button" (click)="selectObjectType(type)" *ngFor="let type of objectTypes" [ngClass]="{
                'selected': type.id === selectedObjectType?.id,
                'color-naranja-td': selectedColor === '#ef7d16',
                'color-verde-td': selectedColor === '#76b730',
                'color-azul-td': selectedColor === '#4e5fa8',
                'color-rosa-td': selectedColor === '#df3c65',
                'color-gris-td': selectedColor === '#9f9f9e',
                'custom-icon-bebida': type.nombre === 'Bebida',
              }">
                <div class="icon-container">
                  <img class="custom-icon" [src]="'assets/icono' + type.icono + '.png'" alt="Icono {{ type.icono }}">
                </div>
                {{ type.nombre }}
              </button>
            </div>
            
          </mat-expansion-panel>
          <mat-expansion-panel class="recurso-panel" *ngIf="panelAbierto === 'descripcion' || panelAbierto === 'todos'" (opened)="abrirPanel('descripcion')" (closed)="cerrarPanel('descripcion')"[ngClass]="selectedColorClass">
            <mat-expansion-panel-header class="w-100">
              <mat-panel-title>
                <p class="texto-panel-header">Descripción</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <textarea #descripcionTextarea [(ngModel)]="descripcion" class="texto-descripcion" placeholder="Agregue una descripción"></textarea>
            </div>
          </mat-expansion-panel>
          <div class="descripcion-buttons" *ngIf="panelAbierto === 'descripcion'">
            <button class="boton-guardar" [ngStyle]="{ 'background-color': selectedColor }" (click)="guardarDescripcion()">
              <i class="material-icons">save</i>
            </button>
            <button class="boton-lapiz" [ngStyle]="{ 'background-color': selectedColor }" (click)="editarDescripcion()">
              <i class="material-icons">create</i>
            </button>
            <button class="boton-tacho" [ngStyle]="{ 'background-color': selectedColor }" (click)="eliminarDescripcion()">
              <i class="material-icons">delete</i>
            </button>
          </div>
        <div class="cantidad-container" *ngIf="panelAbierto === 'todos'">
          <div class="cantidad-label" [ngClass]="{ 'color-naranja-cantidad': selectedColor === '#ef7d16', 'color-verde-cantidad': selectedColor === '#76b730', 'color-azul-cantidad': selectedColor === '#4e5fa8', 'color-rosa-cantidad': selectedColor === '#df3c65', 'color-gris-cantidad': selectedColor === '#9f9f9e' }">
            Cantidad Actual
          </div>
          <div class="cantidad-valor" [ngClass]="{ 'color-naranja-cantidad': selectedColor === '#ef7d16', 'color-verde-cantidad': selectedColor === '#76b730', 'color-azul-cantidad': selectedColor === '#4e5fa8', 'color-rosa-cantidad': selectedColor === '#df3c65', 'color-gris-cantidad': selectedColor === '#9f9f9e' }">
            {{ recurso.cantidadActual }}
          </div>
        </div>

        <div class="cantidad-container" *ngIf="panelAbierto === 'todos'">
          <div class="cantidad-label" [ngClass]="{ 'color-naranja-cantidad': selectedColor === '#ef7d16', 'color-verde-cantidad': selectedColor === '#76b730', 'color-azul-cantidad': selectedColor === '#4e5fa8', 'color-rosa-cantidad': selectedColor === '#df3c65', 'color-gris-cantidad': selectedColor === '#9f9f9e' }">
            Cantidad Necesaria
          </div>
          <div class="cantidad-valor" [ngClass]="{ 'color-naranja-cantidad': selectedColor === '#ef7d16', 'color-verde-cantidad': selectedColor === '#76b730', 'color-azul-cantidad': selectedColor === '#4e5fa8', 'color-rosa-cantidad': selectedColor === '#df3c65', 'color-gris-cantidad': selectedColor === '#9f9f9e' }">
            {{ recurso.cantidadNecesaria }}
          </div>
        </div>
        <mat-expansion-panel class="recurso-panel" *ngIf="panelAbierto === 'responsables' || panelAbierto === 'todos'" (opened)="abrirPanel('responsables')" (closed)="cerrarPanel('responsables')"[ngClass]="selectedColorClass">
          <mat-expansion-panel-header class="w-100">
            <mat-panel-title>
              <p class="texto-panel-header">Responsables</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="fs-5 text-center font-weight-bold text-black my-1 py-2 border border-2 border-white border-opacity-75 rounded-2" [ngClass]="{ 'color-naranja-back': selectedColor === '#ef7d16', 'color-verde-back': selectedColor === '#76b730', 'color-azul-back': selectedColor === '#4e5fa8', 'color-rosa-back': selectedColor === '#df3c65', 'color-gris-back': selectedColor === '#9f9f9e' }">
            {{ recurso.cantidadActual }}/{{ recurso.cantidadNecesaria }}
          </div>
          <div class="responsables-table">
            <div class="tabla">
              
              <table>
              <tbody>
                <tr *ngFor="let asignacion of asignaciones">
                  <td [ngClass]="{ 'color-naranja-td': selectedColor === '#ef7d16', 'color-verde-td': selectedColor === '#76b730', 'color-azul-td': selectedColor === '#4e5fa8', 'color-rosa-td': selectedColor === '#df3c65', 'color-gris-td': selectedColor === '#9f9f9e' }">
                  {{ asignacion.asistente?.participante?.usuario.nombre }}</td>
                  <td [ngClass]="{ 'color-naranja-td': selectedColor === '#ef7d16', 'color-verde-td': selectedColor === '#76b730', 'color-azul-td': selectedColor === '#4e5fa8', 'color-rosa-td': selectedColor === '#df3c65', 'color-gris-td': selectedColor === '#9f9f9e' }">
                  {{ asignacion.cantidad }}</td>
                </tr>
              </tbody>
            </table>
            </div> 
          </div>
            <div class="row mx-1">
              <button *ngIf="this.index !== -1 && this.recurso.cantidadNecesaria>20" class="col agregar-responsable d-flex justify-content-center align-items-center p-1 mt-2 mx-1 fs-4 text-center font-weight-bold" (click)="agregarTodosLosRecursos()" [ngClass]="{ 'color-naranja-back': selectedColor === '#ef7d16', 'color-verde-back': selectedColor === '#76b730', 'color-azul-back': selectedColor === '#4e5fa8', 'color-rosa-back': selectedColor === '#df3c65', 'color-gris-back': selectedColor === '#9f9f9e' }">
                <i class="bi bi-sort-up"></i>
              </button>
              <button class="col agregar-responsable d-flex justify-content-center align-items-center p-1 mt-2 mx-1 fs-4 text-center font-weight-bold" (click)="agregarRecurso()" [ngClass]="{ 'color-naranja-back': selectedColor === '#ef7d16', 'color-verde-back': selectedColor === '#76b730', 'color-azul-back': selectedColor === '#4e5fa8', 'color-rosa-back': selectedColor === '#df3c65', 'color-gris-back': selectedColor === '#9f9f9e' }">
                <i class="bi bi-plus"></i>
              </button>
              <button *ngIf="this.index !== -1" class="col agregar-responsable d-flex justify-content-center align-items-center p-1 mt-2 mx-1 fs-4 text-center font-weight-bold" (click)="quitarUnRecurso()" [ngClass]="{ 'color-naranja-back': selectedColor === '#ef7d16', 'color-verde-back': selectedColor === '#76b730', 'color-azul-back': selectedColor === '#4e5fa8', 'color-rosa-back': selectedColor === '#df3c65', 'color-gris-back': selectedColor === '#9f9f9e' }">
                <i class="bi bi-dash"></i>
              </button>
              <button *ngIf="this.index !== -1" class="col agregar-responsable d-flex justify-content-center align-items-center p-1 mt-2 mx-1 fs-4 text-center font-weight-bold" (click)="quitarRecurso()" [ngClass]="{ 'color-naranja-back': selectedColor === '#ef7d16', 'color-verde-back': selectedColor === '#76b730', 'color-azul-back': selectedColor === '#4e5fa8', 'color-rosa-back': selectedColor === '#df3c65', 'color-gris-back': selectedColor === '#9f9f9e' }">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          
          
        </mat-expansion-panel>
        <div class="responsables-buttons" *ngIf="panelAbierto === 'responsables'">
            <button class="boton-guardar" [ngStyle]="{ 'background-color': selectedColor }" (click)="guardarDescripcion(); actualizarAsignaciones()">
              <i class="material-icons">save</i>
            </button>
          </div>
        <button (click)="mostrarComponenteColorPicker()" class="boton-pintura"></button>
      </div>
      <ng-template #colorPicker>
        <button (click)="ocultarComponenteColorPicker()" class="boton-flecha"></button>
        <app-recurso-color-picker [recurso]="recurso" *ngIf="mostrarColorPicker"></app-recurso-color-picker>
      </ng-template>
      <button (click)="flipCard()" class="boton-menos"></button>
    </div>
  </div>
</div>