<div class="crear-recurso-container">
    <mat-card class="crear-recurso-card">
      <mat-card-title>Crear Recurso</mat-card-title>
      <mat-card-content>
        <form class="crear-recurso-form">
          <mat-form-field>
            <input matInput placeholder="Nombre" [(ngModel)]="nombre" required class="crear-recurso-input">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Cantidad Necesaria" [(ngModel)]="cantidadNecesaria" required class="crear-recurso-input">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Descripción" [(ngModel)]="descripcion" required class="crear-recurso-input"></textarea>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="crear-recurso-actions">
        <button mat-raised-button color="primary" class="crear-recurso-button">Agregar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  