  <div class="top-bar">
    <button mat-icon-button class="icon-notificaciones d-flex justify-content-center align-items-center" (click)="irANotificaciones()">
      <img class="img-notificaciones" src="assets/iconoNotificacion.png" alt="Notificaciones">
    </button>
    <button mat-icon-button class="icon-configuracion" (click)="irAConfiguracion()">
      <img class="img-configuracion" src="assets/iconoConfiguracion.png" alt="Configuracion">
    </button>
  </div>

  <!-- Popup de invitación -->
  <app-invitacion></app-invitacion>

  <!-- Popup de invitados -->
  <app-invitados></app-invitados>

  <div class="lista-eventos-container">

    <div *ngIf="eventos.length === 0; else eventosLista">
      <div class="sin-eventos-container">
        <h2>Tu lista de eventos</h2>
        <h3>No tienes eventos :(</h3>
        <img class="imagen-calendario" src="assets/calendarioNegro.png" alt="Icono de calendario">
        <div class="crear-evento-container">
          <p>Crea un evento</p>
          <button mat-button class="custom-button" routerLink="/crear-evento">
            <img class="boton-crear-evento" src="assets/crearEvento2.png" alt="Crear Evento">
          </button>
        </div>
      </div>
    </div>

    <ng-template #eventosLista>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let evento of eventos">
          <div class="titulo-container">
            <p class="titulo-evento">{{ evento.nombre }}</p>
          </div>
          <p><strong>Organizador:</strong> {{ evento.creador }}</p>
          <p><strong>Fecha:</strong> {{ evento.fechaHora | date : 'dd MMM yyyy'}}</p>
          <p><strong>Hora:</strong> {{ evento.hora }}</p>
          <p><strong>Tipo de evento:</strong> {{ evento.tipoEvento }}</p>
          <mat-expansion-panel *ngIf="evento.ubicacion != null">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dirección:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <ul class="col-md-12">
                <li>Ubicación: {{ evento.ubicacion }}</li>
                <li>Calle: {{ evento.calle}}</li>
                <li>Altura: {{evento.altura}}</li>
              </ul>
              <!--
              {{ evento.ubicacion + ' ' + evento.calle + ' '+ evento.altura}}
              -->
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Recursos:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <ul>
                <li *ngFor="let recurso of recursos">
                  <div class="recurso-container">
                    <span>{{ recurso.nombre }} {{ recurso.cantidadActual }} / {{ recurso.cantidadNecesaria }}</span>
                    <button mat-icon-button class="ver-recurso-button" (click)="visualizarRecurso(evento, recurso)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
              <button mat-raised-button class="agregar-recurso-button" (click)="agregarRecurso(evento)">Agregar</button>
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Invitados:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <div class="invitados-container">
              <ul class="col-12 justify-content-around">
                <li>
                  <div class="participante-container1">
                    <!-- haha funny name chimichanga            
                    <span>[Pablo Oscar Martínez López de la Cruz Hernández del Corazón Sagrado de Jesús Tortilla García Flores Nacho Taco Rosas Chimichanga Rodríguez]</span>
                    -->
                    <span>[Pablo Martinez de la Rosa de Guadalupe Hernández]</span>
                    <button mat-icon-button class="ver-participante-button" (click)="showPopupInvitado()">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="participante-container">
                    <span>[Invitado_2]</span>
                    <button mat-icon-button class="ver-participante-button" (click)="showPopupInvitado()">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="participante-container">
                    <span>[Invitado_3]</span>
                    <button mat-icon-button class="ver-participante-button" (click)="showPopupInvitado()">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="participante-container">
                    <span>[Invitado_4]</span>
                    <button mat-icon-button class="ver-participante-button" (click)="showPopupInvitado()">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
                <li> 
                  <div class="participante-container">
                    <span>[Invitado_5]</span>
                    <button mat-icon-button class="ver-participante-button" (click)="showPopupInvitado()">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="participante-container">
                    <span>[Invitado_6]</span>
                    <button mat-icon-button class="ver-participante-button" (click)="showPopupInvitado()">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
            </mat-panel-description>
            <!-- Solo deberia aparecer en casos especificos -->
            <div class="col-md-12 text-center">
              <button (click)="showPopup()" class="invitarBtn">
                Invitar
              </button>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </ng-template>
  </div>
