  <div class="top-bar">
    <button mat-icon-button class="icon-notificaciones d-flex justify-content-center align-items-center" (click)="irANotificaciones()">
      <img class="img-notificaciones" src="assets/iconoNotificacion.png" alt="Notificaciones">
    </button>
    <button mat-icon-button class="icon-configuracion" (click)="irAConfiguracion()">
      <img class="img-configuracion" src="assets/iconoConfiguracion.png" alt="Configuracion">
    </button>
  </div>

  <!-- Popup de invitación -->
  <app-invitacion></app-invitacion>

  <!-- Popup de invitados -->
  <app-invitados></app-invitados>

  <div class="lista-eventos-container">

    <div *ngIf="eventos.length === 0; else eventosLista">
      <div class="sin-eventos-container">
        <h2>Tu lista de eventos</h2>
        <h3>No tienes eventos :(</h3>
        <img class="imagen-calendario" src="assets/calendarioNegro.png" alt="Icono de calendario">
        <div class="crear-evento-container">
          <p>Crea un evento</p>
          <button mat-button class="custom-button" routerLink="/crear-evento">
            <img class="boton-crear-evento" src="assets/crearEvento2.png" alt="Crear Evento">
          </button>
        </div>
      </div>
    </div>

    <ng-template #eventosLista>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvpyvaW8UylnXWof2sdHjfObxsbNuBZIE"></script>

      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let evento of eventos">
          <div class="titulo-container">
            <p class="titulo-evento">{{ evento.nombre }}</p>
          </div>
          <p><strong>Organizador:</strong> {{ evento.creador.nombreUsuario }}</p>
          <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
          <p><strong>Hora:</strong> {{ evento.horaInicio }}</p>
          <p><strong>Tipo de evento:</strong> {{ evento.tipoEvento }}</p>
          <mat-expansion-panel *ngIf="evento.ubicacion != null && (panelAbierto === 'direccion' || panelAbierto === 'todos')" (opened)="abrirPanel('direccion')" (closed)="cerrarPanel('direccion')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dirección
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <ul class="col-md-12">
                <li>Localidad: {{ evento.ubicacion.localidad }}</li>
                <li>Calle: {{ evento.ubicacion.calle }}</li>
                <li>Altura: {{ evento.ubicacion.altura }}</li>
              </ul>
              <a class="map-link" (click)="openMapDialog()">
                <mat-icon class="mat-icon-map">map</mat-icon> Mostrar ubicación en el mapa
              </a>
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="evento.descripcion != null && (panelAbierto === 'descripcion' || panelAbierto === 'todos')"(opened)="abrirPanel('descripcion')" (closed)="cerrarPanel('descripcion')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Descripción
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <p>{{ evento.descripcion }}</p>
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="panelAbierto === 'recursos' || panelAbierto === 'todos'" (opened)="abrirPanel('recursos')" (closed)="cerrarPanel('recursos')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Recursos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <ul>
                <li *ngFor="let recurso of evento.recursos">
                  <div class="recurso-container">
                    <span>{{ recurso.nombre }}</span>
                    <button mat-icon-button class="ver-recurso-button" (click)="visualizarRecurso(evento, recurso)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
              <button mat-raised-button class="agregar-recurso-button" (click)="agregarRecurso(evento)">Agregar</button>
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="panelAbierto === 'invitados' || panelAbierto === 'todos'" (opened)="abrirPanel('invitados')" (closed)="cerrarPanel('invitados')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Invitados
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="panelInvitados">
              <div class="invitados-container">
                <ul class="col-12 justify-content-evenly">
                  <li *ngFor="let asistente of asistente">
                    <div class="participante-container">
                      <span>{{asistente.participante.apellido}}, {{ asistente.participante.nombre }}</span>
                      <button mat-icon-button class="ver-participante-button" (click)="showPopupInvitado(asistente.participante.nombre, asistente.participante.apellido)">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </mat-panel-description>
          </mat-expansion-panel>
          <!-- Solo debería aparecer en casos específicos -->
          <div class="col-md-12 text-center">
            <button (click)="showPopup()" class="invitarBtn">
              Invitar
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
