
.boton-crear-evento {
  width: 30px;
  height: 30px;
}

.swiper-wrapper{
  width: 100%;
  height: 90vh;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 5% 0 5%;
  background-color: #6a6d71;
  width: 90%;
  height: 75vh;
}



.container-texto{
  min-height: 25%;
  overflow-y: auto;
}


.swiper-slide .titulo-evento {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}


.lista-eventos-container {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.lista-eventos-container::-webkit-scrollbar {
  display: none; 
}


.imagen-calendario {
  width: 30%;
  height: auto;
  margin-bottom: 80px;
}




.mat-expansion-panel-header {
  background-color: #262626;
  color: #fff;
}

.mat-expansion-panel-content {
  background-color: #262626;
  color: #fff;
}

mat-panel-description{
  padding-top: 4%;
  display: inline;
}

.panelInvitados{
  max-height: 200px;
  max-width: 400px;
  overflow: auto;
}

.map-link {
  display: flex;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}


.mat-expanded .mat-expansion-panel-header {
  background-color: #262626;
}

.mat-expansion-indicator {
  color: #fff;
}

.mat-expansion-indicator {
  color: #fff;
}

@media (hover: none){}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: #262626;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: #fff;
}

.container-panels{
  min-height: 35vh;
  overflow-y: auto;
}

.mat-expanded .mat-expansion-indicator {
  transform: rotate(180deg);
}

.mat-expansion-panel {
  background: #9a9fa5;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 2% 2% 2%;
}

.mat-expansion-panel-header-title {
  color: rgb(255 255 255);
}

.agregar-recurso-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #fff;
}

.recurso-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recurso-container span {
  margin-right: 10px;
}

.ver-recurso-button {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 20px;
}

.ver-recurso-button mat-icon {
  margin-top: 5px;
  font-size: 20px;
}



/*
.participante-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
*/

.ver-participante-button {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 20px;
}

.ver-participante-button mat-icon {
  margin-top: 5px;
  font-size: 20px;
}
/*
.invitados-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-height: 200px;
  overflow: auto;
}

.participante-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
*/

.invitados-container {
  display: flex;
  flex-wrap: wrap; /* Los invitados se envuelven en líneas nuevas si no caben en una sola línea */
  max-height: 200px;
  overflow: auto;
  justify-content: space-around;
}

.participante-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: 15px;
  max-width: 400px; /* Ancho máximo para cada invitado (ajusta según tus necesidades) */
  justify-content: space-between;
}

#calendario{
  font-size: 30vh;
}