  <div class="bg-dark-subtle top-bar d-flex justify-content-end h-auto fixed-top">
    <button mat-icon-button class="border-0 bg-transparent" (click)="irAPresentador()">
      <i class="bi bi-cast color-opuesto w-auto h-100 m-2 fs-2"></i>
    </button>
    <button mat-icon-button class="border-0 bg-transparent" (click)="irANotificaciones()">
      <i class="bi bi-bell-fill color-opuesto w-auto h-100 m-2 fs-2"></i>
    </button>
    <button mat-icon-button class="border-0 bg-transparent" (click)="irAConfiguracion()">
      <i class="bi bi-gear-fill color-opuesto w-auto h-100 m-2 fs-2"></i>
    </button>
  </div>

  <!-- Popup de invitación -->
  <app-invitacion></app-invitacion>

  <!-- Popup de invitados -->
  <app-invitados></app-invitados>

  <div class="lista-eventos-container fondo p-0 d-flex align-items-center justify-content-center w-100">

    
    <div class="d-flex flex-column justify-content-center align-items-center m-5" *ngIf="eventos.length === 0; else eventosLista">
      <h1 class="color-opuesto text-center">Tu lista de eventos</h1>
      <h2 class="color-opuesto text-center">No tienes eventos 🙁</h2>
      <div class="d-flex w-100 justify-content-center align-items-center">
        <i id="calendario" class="bi bi-calendar-x mb-5 color-opuesto"></i>
      </div>
      <h1 class="text-center m-0 fw-bolder color-opuesto">Crea un evento</h1>
      <button class="btn p-2 border-0 bg-transparent" type="button" routerLink="/crear-evento">
        <i class="bi bi-plus display-1 bg-dark-subtle rounded-circle m-2" alt="Crear Evento" routerLink="/eventos/crear"></i>
      </button>
      
    </div>
    
    
    <ng-template #eventosLista>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvpyvaW8UylnXWof2sdHjfObxsbNuBZIE"></script>

      <div class="swiper-wrapper d-flex align-items-center">
          <div class="swiper-slide overflow-x-hidden rounded-4 px-2 bg-primary shadow" *ngFor="let evento of eventos">
            <h1 class="text-center m-3 fw-bold">{{ evento.nombre }}</h1>
            <div class="container-texto container-fluid">
              <p class="p-1 fs-5 my-0 mx-1"><strong>Fecha:</strong> {{ evento.fecha |date:"dd/MM/yyyy" }}</p>
              <p class="p-1 fs-5 my-0 mx-1" *ngIf="evento.horaFin===null"><strong>Horario:</strong> Todo el día</p>
              <p class="p-1 fs-5 my-0 mx-1" *ngIf="evento.horaFin!=null"><strong>Horario:</strong> {{  formatearHora(evento.horaInicio) }} - {{  formatearHora(evento.horaFin) }} hs</p>
              <p class="p-1 fs-5 my-0 mx-1"><strong>Tipo de evento:</strong> {{ evento.tipoEvento }}</p>
            </div>
            <div class="container-panels">
              <mat-expansion-panel class="bg-secondary" *ngIf="evento.ubicacion != null && (panelAbierto === 'direccion' || panelAbierto === 'todos')" (opened)="abrirPanel('direccion')" (closed)="cerrarPanel('direccion')">
                <mat-expansion-panel-header class="bg-primary-subtle">
                  <mat-panel-title>
                    <p class="color-opuesto m-0 fw-bold">Dirección</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text-black d-flex align-items-center justify-content-between w-100">
                  <ul *ngIf="evento.ubicacion.latitud===null && evento.ubicacion.longitud===null">
                    <li>Ciudad: {{ evento.ubicacion.ciudad }}</li>
                    <li>Localidad: {{ evento.ubicacion.localidad }}</li>
                    <li>Calle: {{ evento.ubicacion.calle }}</li>
                    <li>Altura: {{ evento.ubicacion.altura }}</li>
                  </ul>
                  
                  <div class="d-flex align-items-center" *ngIf="evento.ubicacion.latitud!=null && evento.ubicacion.longitud!=null">
                    <i class="bi bi-geo-alt-fill mx-1 text-black" ></i>
                    <a class="map-link m-2 d-flex align-items-center" (click)="openMapDialog(evento)">
                      Mostrar ubicación en el mapa
                    </a>
                  </div>
  
                  <div class="d-flex flex-column align-items-center justify-content-center">
                      <label class="d-flex flex-column justify-content-center fs-4 bg-transparent border-0 p-1">
                        <button class="d-none" (click)="cartelIrAMaps(aMaps,evento.ubicacion)"></button>
                        <i class="bi bi-globe-americas d-flex justify-content-center"></i>
                        <h1 class="text-black fs-6 m-0">Maps</h1>
                      </label>
                    
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>
              
              <mat-expansion-panel class="bg-secondary" *ngIf="panelAbierto === 'recursos' || panelAbierto === 'todos'" (opened)="abrirPanel('recursos')" (closed)="cerrarPanel('recursos')">
                <mat-expansion-panel-header class="bg-primary-subtle">
                  <mat-panel-title>
                    <p class="color-opuesto m-0 fw-bold">Recursos</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text-black d-flex align-items-center justify-content-between w-100">
                  <ul class="w-100">
                    <li *ngFor="let recurso of evento.recursos">
                      <div class="recurso-container d-flex align-items-center justify-content-between">
                        <span>{{ recurso.nombre }}</span>
                        <button mat-icon-button class="ver-recurso-button" (click)="visualizarRecurso(evento, recurso)">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </div>
                    </li>
                  </ul>
                  <button mat-raised-button class="agregar-recurso-button text-black" (click)="mostrarCardAgregarRecurso(contenidoAgregar,evento)" *ngIf="esAdministrador(evento)">Agregar</button>
                </mat-panel-description>
              </mat-expansion-panel>
  
              <mat-expansion-panel class="bg-secondary" *ngIf="panelAbierto === 'invitados' || panelAbierto === 'todos'" (opened)="abrirPanel('invitados')" (closed)="cerrarPanel('invitados')">
                <mat-expansion-panel-header class="bg-primary-subtle">
                  <mat-panel-title>
                    <p class="color-opuesto m-0 fw-bold">Invitados</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text-black d-flex align-items-center justify-content-between w-100">
                  <div class="container-fluid">
                    <div class="row align-items-center my-2" *ngFor="let asistente of evento?.asistentes">
                        <p class="col text-start m-0">{{asistente.participante.apellido}}, {{ asistente.participante.nombre }}</p>
                        <button *ngIf="asistente.estaAceptado === true" mat-icon-button class="col-2 btn bg-none border-0 text-end" (click)="showPopupInvitado(asistente.participante, evento)">
                          <i class="bi bi-eye-fill fs-3 text-black"></i>
                        </button>
                        <button *ngIf="asistente.estaAceptado === false && esAdministrador(evento)" mat-icon-button class="col-2 border-0 bg-none btn text-success m-0 text-end" (click)="aceptarInvitado(asistente, evento)">
                          <i class="bi bi-check fs-3"></i>
                        </button>
                        <button *ngIf="asistente.estaAceptado === false && esAdministrador(evento)" mat-icon-button class="col-2 border-0 btn bg-none text-danger m-0 text-end" (click)="showPopupRechazarInvitado(rechazarInvitado, asistente, evento)">
                          <i class="bi bi-x fs-3"></i>
                        </button>
                        <p *ngIf="asistente.estaAceptado === false && !esAdministrador(evento)" class="col-3 text-danger text-end">Pendiente</p>
                    </div>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>
  
              <mat-expansion-panel class="bg-secondary" *ngIf="evento.descripcion != '' && (panelAbierto === 'descripcion' || panelAbierto === 'todos')"(opened)="abrirPanel('descripcion')" (closed)="cerrarPanel('descripcion')">
                <mat-expansion-panel-header class="bg-primary-subtle">
                  <mat-panel-title>
                    <p class="color-opuesto m-0 fw-bold">Descripción</p>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description class="text-black d-flex align-items-center justify-content-between w-100">
                  <p class="m-2">{{ evento.descripcion }}</p>
                </mat-panel-description>
              </mat-expansion-panel>
            </div>
            <!-- Solo debería aparecer en casos específicos -->
            <div class="col-md-12 d-flex justify-content-center" *ngIf="esAdministrador(evento)">
              <button (click)="showPopupInvitacion(evento.id.toString())" class="btn btn-danger m-2 py-2 px-3 text-white rounded-4 fw-bold d-flex justify-content-center align-items-center">
                <i class="bi bi-person-plus-fill fs-3"></i>
                <p class="m-0 ms-2">Invitar</p>
              </button>
            </div>
          </div>
        </div>
    </ng-template>
  </div>
  


  <ng-template #aMaps let-modal>
    <div class="modal-content border-0">
      <div class="modal-header bg-primary">
        <h2 class="modal-title m-0 text-black fw-bolder">Irás a Google Maps</h2>
      </div>
      <div class="modal-footer bg-secondary">
        <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
        <button class="btn btn-success" (click)="modal.close()">Seguro</button>
      </div>
    </div>
  </ng-template>

  <ng-template #rechazarInvitado let-modal>
    <div class="modal-content border-0">
      <div class="modal-header bg-primary">
        <h2 class="modal-title m-0 text-black fw-bolder">Rechazar</h2>
      </div>
      <div class="modal-footer bg-secondary">
        <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
        <button class="btn btn-success" (click)="modal.close()">Seguro</button>
      </div>
    </div>
  </ng-template>

  <ng-template #contenidoAgregar let-modal>
    <div class="modal-content border-0">
      <div class="modal-header bg-primary">
        <h2 class="modal-title m-0 text-black fw-bolder">Agregar recurso</h2>
      </div>
      <div class="modal-body bg-primary-darken">
        <app-crear-recurso #componenteCrearRecurso [tiposDeRecursos]="tiposDeRecursos"></app-crear-recurso>
      </div>
      <div class="modal-footer bg-primary">
        <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
        <button class="btn btn-success" (click)="validarYCerrarModal(componenteCrearRecurso)? modal.close(componenteCrearRecurso) : null">Agregar recurso</button> <!--modal.validarYCerrarModal(componenteCrearRecurso);-->
      </div>
    </div>
  </ng-template>