<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
</head>

<body>

  <div class="top-bar">
    <button mat-icon-button class="icon-notificaciones d-flex justify-content-center align-items-center" (click)="irANotificaciones()">
      <img class="img-notificaciones" src="assets/iconoNotificacion.png" alt="Notificaciones">
    </button>
    <button mat-icon-button class="icon-configuracion" (click)="irAConfiguracion()">
      <img class="img-configuracion" src="assets/iconoConfiguracion.png" alt="Configuracion">
    </button>
  </div>

  <div class="lista-eventos-container">

    <div *ngIf="eventos.length === 0; else eventosLista">
      <div class="sin-eventos-container">
        <h2>Tu lista de eventos</h2>
        <h3>No tienes eventos :(</h3>
        <img class="imagen-calendario" src="assets/calendarioNegro.png" alt="Icono de calendario">
        <div class="crear-evento-container">
          <p>Crea un evento</p>
          <button mat-button class="custom-button" routerLink="/crear-evento">
            <img class="boton-crear-evento" src="assets/crearEvento2.png" alt="Crear Evento">
          </button>
        </div>
      </div>
    </div>

    <ng-template #eventosLista>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let evento of eventos">
          <div class="titulo-container">
            <p class="titulo-evento">{{ evento.titulo }}</p>
          </div>
          <p><strong>Organizador:</strong> {{ evento.organizador }}</p>
          <p><strong>Fecha:</strong> {{ evento.fecha }}</p>
          <p><strong>Hora:</strong> {{ evento.hora }}</p>
          <p><strong>Tipo de evento:</strong> {{ evento.estilo }}</p>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dirección:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              {{ evento.lugar }}
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Recursos:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <ul>
                <li *ngFor="let recurso of recursos">
                  <div class="recurso-container">
                    <span>{{ recurso.nombre }} {{ recurso.cantidadActual }} / {{ recurso.cantidadNecesaria }}</span>
                    <button mat-icon-button class="ver-recurso-button" (click)="visualizarRecurso(evento, recurso)">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
              <button mat-raised-button class="agregar-recurso-button" (click)="agregarRecurso(evento)">Agregar</button>
            </mat-panel-description>


          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Invitados:
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              21 invitados
            </mat-panel-description>
          </mat-expansion-panel>
        </div>
      </div>
    </ng-template>
  </div>
</body>
