.crear-recurso-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .crear-recurso-card {
    max-width: 100%;
    align-items: center;
    box-shadow: none;
  }
  
  .crear-recurso-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .crear-recurso-input {
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .crear-recurso-input::placeholder {
    text-align: center;
  }
  
  .crear-recurso-button {
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 24px;
  }
  