<mat-card>
    <div id="paso5">
        <h1 class="tituloRevisionFinal">Revision Final</h1>

        <form>
            <div id="cajaRevisionFinal">
                <h2 id="tituloRevision">Revise los Campos</h2>
                <div id="buscarUbicacion" class="justify-content-md-center">
                    <div class="row">
                        <div class="col-5" id="nombreTitulo">Nombre</div>
                        <div class="col-6" id="nombreTitulo">Traer Info</div>
                        <button class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row">
                        <div class="col-4" id="nombreTitulo">Fecha</div>
                        <div class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="calendar_month"></mat-icon></div>
                        <div class="col-6" id="nombreTitulo">Traer Info</div>
                        <button class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row">
                        <div class="col-4" id="nombreTitulo">Hora</div>
                        <div class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="calendar_month"></mat-icon></div>
                        <div class="col-6">
                            <div class="row" id="nombreTitulo">Traer Info</div>
                            <div class="row" id="nombreTitulo">Traer Info</div>
                        </div>
                        <button class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row">
                        <div class="col-7" id="nombreTitulo">Tipo de Evento</div>
                        <div class="col-4" id="nombreTitulo">Traer Info</div>
                        <button class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row">
                        <div class="col-7" id="nombreTitulo">Tipo de Invitacion</div>
                        <div class="col-4" id="nombreTitulo">Traer Info</div>
                        <button class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row">
                        <div class="col-5" id="nombreTitulo">Ubicacion</div>
                        <div class="col-6" id="nombreTitulo">Traer Info</div>
                        <button class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row">
                        <div class="col-5" id="nombreTitulo">Objetos</div>
                        <div class="col-6" id="nombreTitulo">Traer Info</div>
                        <button class="col-1" id="nombreTitulo"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>

                </div>

            </div>
        </form>
        
    </div>
</mat-card>
