p{
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1em;
}

.row{
    margin-top: 1%;
    margin-bottom: 2%;
}

img[name="tamanio-fuente"]{
    height: 4em !important;
    width: auto !important;
}