<mat-card>
    <div id="paso5" class="body">
        <h1 class="tituloRevisionFinal d-flex align-items-center justify-content-center">Revision Final</h1>

        <form class="d-flex justify-content-center">
            <div id="cajaRevisionFinal" class="cajaPrincipal">
                <h2 id="tituloRevision" class="d-flex justify-content-center align-items-center">Revise los Campos</h2>
                <div id="camposRevision" class="d-flex justify-content-around flex-wrap">
                    <div class="row d-flex justify-content-center align-items-center" id="completa">
                        <div class="col-5" id="nombreTitulo"><p>Nombre</p></div>
                        <div class="col-6" id="informacion"><p>Traer Info</p></div>
                        <button class="col-1" id="editar"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row" id="completa">
                        <div class="col-4" id="nombreTitulo"><p>Fecha</p></div>
                        <div class="col" id="icon"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="calendar_month"></mat-icon></div>
                        <div class="col" id="informacion"><p>Traer Info</p></div>
                        <button class="col-1" id="editar"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row" id="completa">
                        <div class="col">
                            <div class="row">
                                <div class="col-4" id="nombreTitulo"><p>Hora</p></div>
                                <div class="col" id="icon"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="calendar_month"></mat-icon></div>
                                <div class="col-4" id="informacion"><p>Traer Info</p></div>
                            </div>
                            <div class="row d-flex align-items-center justify-content-end">
                                <div class="col-4" id="informacion"><p>Traer Info</p></div>
                            </div>
                            </div>
                        <button class="col-1" id="editar"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row" id="completa">
                        <div class="col-7" id="nombreTitulo"><p>Tipo de Evento</p></div>
                        <div class="col-4" id="informacion"><p>Traer Info</p></div>
                        <button class="col-1" id="editar"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row" id="completa">
                        <div class="col-7" id="nombreTitulo"><p>Tipo de Invitacion</p></div>
                        <div class="col-4" id="informacion"><p>Traer Info</p></div>
                        <button class="col-1" id="editar"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row" id="completa">
                        <div class="col-5" id="nombreTitulo"><p>Ubicacion</p></div>
                        <div class="col-6" id="informacion"><p>Traer Info</p></div>
                        <button class="col-1" id="editar"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>
                    <div class="row" id="completa">
                        <div class="col-5" id="nombreTitulo"><p>Objetos</p></div>
                        <div class="col-6" id="informacion"><p>Traer Info</p></div>
                        <button class="col-1" id="editar"><mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
                    </div>

                </div>

            </div>
        </form>
        
    </div>
</mat-card>
