<div class="fijarNav">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="300ms" headerPosition="below" class="navbar-icons">
    <mat-tab>
      <ng-template mat-tab-label >
        <div class="container" alt="Crear Evento" routerLink="/eventos/crear">
          <img src="assets/crearEvento.png" >
        </div>

      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="container" alt="Lista Eventos" routerLink="/eventos">
          <img src="assets/listaEventos.png" >
        </div>

      </ng-template>
    </mat-tab>
    <mat-tab class="d-flex justify-content-center">
      <ng-template mat-tab-label>
        <div class="container" alt="Perfil" routerLink="/perfil">
          <img src="assets/perfil.png" >
        </div>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
