<div class="fijarNav">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="400ms" headerPosition="below" class="navbar-icons">
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/crearEvento.png" alt="Crear Evento" routerLink="/crear-evento">
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/listaEventos.png" alt="Lista Eventos" routerLink="/lista-eventos">
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/perfil.png" alt="Perfil" routerLink="/perfil">
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>