<div class="bg-dark-subtle d-flex justify-content-center fixed-bottom w-100">
  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center" animationDuration="300ms" headerPosition="below" class="h-25 d-flex">
    <mat-tab>
      <ng-template mat-tab-label>
        <div alt="Crear Evento" routerLink="/eventos/crear" class="container-fluid">
          <i class="bi bi-plus-circle fs-1"></i>
        </div>

      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div alt="Lista Eventos" routerLink="/eventos" class="container-fluid">
          <i class="bi bi-card-list fs-1"></i>
        </div>

      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div alt="Perfil" routerLink="/perfil" class="container-fluid">
          <i class="bi bi-person-fill fs-1"></i>
        </div>

      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
