
<button mat-icon-button class="icon-home" routerLink="/lista-eventos">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="lista-notificaciones-container">
    <div *ngIf="notificaciones.length === 0; else notificacionesLista">
        <div class="sin-notificaciones-container">
          <h2>No tienes notificaciones!</h2>
          <img class="imagen-sin-notificacion" src="assets/blablabla.png" alt="Sin notificaciones">
        </div>
      </div>
      
      <ng-template #notificacionesLista>
    
      </ng-template>
</div>