  <div class=" encabezado w-100 fixed-top d-flex justify-content-center align-items-center p-3">
    <nz-steps nzSize="small" [nzCurrent]="pasoActual">
        <nz-step *ngFor="let paso of pasos"></nz-step>
    </nz-steps>

  </div>
<div class="body-evento mt-3 pt-5 h-100">
    <app-paso1 #paso1 [ngStyle]="{'display': pasoActual === 0? 'block' : 'none'}"></app-paso1>
    <app-paso2 #paso2 [ngStyle]="{'display': pasoActual === 1? 'block' : 'none'}"></app-paso2>
    <app-paso3 #paso3 [ngStyle]="{'display': pasoActual === 2? 'block' : 'none'}"></app-paso3>
    <app-paso4 #paso4 [ngStyle]="{'display': pasoActual === 3? 'block' : 'none'}"></app-paso4>
    <app-paso5 #paso5 [ngStyle]="{'display': pasoActual === 4? 'block' : 'none'}" [datos]="pasarDatos()"></app-paso5>
</div>
<!-- Mensaje de error de Formulario Incompleto-->
<ng-template #errorModalContent let-c="close">
  <div class="modal-body">
    Por Favor, complete los campos que quedaron incompletos :)
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Cerrar')">Cerrar</button>
  </div>
</ng-template>
<div [ngClass]="{'justify-content-center' : pasoActual === 0, 'justify-content-around' : pasoActual != 0 }"class="footer d-flex fixed-bottom justify-content-center px-2 pt-2">
  <button *ngIf="pasoActual != 0" (click)="pasoAnterior()" class="btn box px-5 py-2"><i class="bi bi-arrow-left text-white mx-3 display-5"></i></button>
  <button *ngIf="pasoActual != 4" (click)="proximoPaso()" class="btn box px-5 py-2"><i class="bi bi-arrow-right text-white mx-3 display-5"></i></button>
</div>
