  <div class="bg-dark-subtle w-100 fixed-top d-flex justify-content-center align-items-center p-3">
    <nz-steps nzSize="small" [nzCurrent]="pasoActual">
        <nz-step *ngFor="let paso of pasos"></nz-step>
    </nz-steps>

  </div>

<div class="fondo pt-5 h-90 padding-creacion-evento overflow-x-hidden">
    <app-paso1 #paso1 [ngStyle]="{'display': pasoActual === 0? 'block' : 'none'}"></app-paso1>
    <app-paso2 #paso2 [ngStyle]="{'display': pasoActual === 1? 'block' : 'none'}"></app-paso2>
    <app-paso3 #paso3 [ngStyle]="{'display': pasoActual === 2? 'block' : 'none'}"></app-paso3>
    <app-paso4 #paso4 [ngStyle]="{'display': pasoActual === 3? 'block' : 'none'}" (eventoCerrar)="openError()"></app-paso4>
    <app-paso5 #paso5 [ngStyle]="{'display': pasoActual === 4? 'block' : 'none'}" [datos]="pasarDatos()"
      (aPaso1)="irAPaso1()"
      (aPaso2)="irAPaso2()"
      (aPaso3)="irAPaso3()"
      (aPaso4)="irAPaso4()"
      (crearEvento)="crearEvento()"
      (terminarEvento)="navegarAEventos()">
    </app-paso5>

</div>
<!-- Mensaje de error de Formulario Incompleto-->
  <ng-template #errorModalContent let-modal >
    <div class="modal-body bg-warning">
      <h2 class="m-0 text-dark">¡Atención!</h2>
    </div>
    <div class="container-fluid modal-footer bg-primary rounded-bottom">
      <div class="row">
        <h3 class="text-black text-center px-0">Por favor, complete los campos que quedaron incompletos 🙂</h3>
        <button type="button" class="btn btn-outline-warning" (click)="modal.close(errorModalContent)">Cerrar</button>
      </div>
    </div>
  </ng-template>

<div [ngClass]="{'justify-content-center' : pasoActual === 0, 'justify-content-around' : pasoActual != 0 }"class="footer bg-light-subtle d-flex fixed-bottom justify-content-center px-2 pt-2">
  <button *ngIf="pasoActual != 0" (click)="pasoAnterior()" class="rounded-2 border-0 boton px-5 py-2"><i class="bi bi-arrow-left text-white mx-3 display-5"></i></button>
  <button *ngIf="pasoActual != 4" (click)="proximoPaso()" class="rounded-2 border-0 boton px-5 py-2"><i class="bi bi-arrow-right text-white mx-3 display-5"></i></button>
</div>
