  <div class="containerInicial d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-top justify-content-center" id="filaPrincipal">
      <div class="col-2 d-flex justify-content-center">
        <div class="row justify-content-center" id="anchoBurbuja">
            <div class="col-12 d-flex align-items-center justify-content-center" id="burbujas">
                <h2>1</h2>
            </div>
            <div class="col-12 text-dark d-flex justify-content-center" id="texto">
                <h4>Aspectos Básicos</h4>
            </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <div class="row justify-content-center" id="anchoBurbuja">
            <div class="col-12 d-flex align-items-center justify-content-center" id="burbujas">
                <h2>2</h2>
            </div>
            <div class="col-12 text-dark d-flex justify-content-center" id="texto">
                <h4>Fecha y Ubicacion</h4>
            </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <div class="row justify-content-center" id="anchoBurbuja">
            <div class="col-12 d-flex align-items-center justify-content-center" id="burbujas">
                <h2>3</h2>
            </div>
            <div class="col-12 text-dark d-flex justify-content-center" id="texto">
                <h4>Integrantes</h4>
            </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <div class="row justify-content-center" id="anchoBurbuja">
            <div class="col-12 d-flex align-items-center justify-content-center" id="burbujas">
                <h2>4</h2>
            </div>
            <div class="col-12 text-dark d-flex justify-content-center" id="texto">
                <h4>Asignar Objetos</h4>
            </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <div class="row justify-content-center" id="anchoBurbuja">
            <div class="col-12 d-flex align-items-center justify-content-center" id="burbujas">
                <h2>5</h2>
            </div>
            <div class="col-12 text-dark d-flex justify-content-center" id="texto">
                <h4>Confirmar</h4>
            </div>
        </div>
      </div>

    </div>
  </div>
<!-- --------------------------------------BURBUJA DE TITULO DE GRUPO------------------------------------------------ -->

<div class="tituloGrupo d-flex justify-content-center" id="primerTitulo">
    <h1>Elegí un nombre para tu grupo</h1>
</div>
<div class="burbujaDeTexto">
    <!-- <input type="nombreGrupo" required>
    <h1 for="">Escribí Acá</h1>          Esto puede servir-->
    <input placeholder="Escribí Acá" required>
    
</div>

<!-- --------------------------------------CUADRO DE FORMAL-INFORMAL------------------------------------------------ -->
<div class="tituloGrupo d-flex justify-content-center">
    <h1>Elegí la formalidad de tu Evento</h1>
</div>

<div class="formal-box d-flex align-items-center">
    <div class="icon">
        <img src="assets/zapatoInformal.png" alt="Lista Eventos" routerLink="/lista-eventos">
    </div>
    <div class="button-box">
        <div id="barraFormal"></div>
        <button #botonIzquierda type="buttonIzq" class="toggle-btn" id="botonIzqFormal" (click)="leftClickFormal()">Informal</button>
        <button type="buttonDer" class="toggle-btn" id="botonDerFormal" (click)="rightClickFormal()">Formal</button>
    </div>
    <div class="icon">
        <img src="assets/zapatoFormal.png" alt="Lista Eventos" routerLink="/lista-eventos">
    </div>
</div>








<!-- --------------------------------------CUADRO DE VISIBILIDAD EVENTO------------------------------------------------ -->
<div class="tituloGrupo d-flex justify-content-center">
    <h1>Elegí la visibilidad de tu Evento</h1>
</div>

<div class="visibilidad-box d-flex align-items-center">
    <div class="button-box">
        <div id="barraVisib"></div>
        <button type="buttonIzq" class="toggle-btn" id="botonIzqVisib" (click)="leftClickVisib()">Público</button>
        <button type="buttonDer" class="toggle-btn" id="botonDerVisib" (click)="rightClickVisib()">Privado</button>
    </div>
</div>


<!-- ---------------------------------------BURBUJA DE TEXTO GRANDE------------------------------------------------ -->

<div class="tituloGrupo d-flex justify-content-center">
    <h1>¿Querés agregar una descripción?</h1>
</div>


<div class="burbujaDeTextoGrande">
     <textarea
            id="message"
            cols="20"
            rows="10"
            placeholder="Agrega una descripción"
            required
    ></textarea>
</div>
<div class="siguiente d-flex align-items-center justify-content-center">
    <button type="buttonSiguiente" class="botonSiguiente d-flex justify-content-center align-items-center"><i class="bi bi-arrow-right"></i></button>
    
</div>
<div class="pieDePagina"></div>