<!-- Navbar -->
<nav class="navbar navbar-expand-lg col-md-12" style="background-color: #262626">
    <div class="container-fluid">
        <button mat-icon-button type="button" class="icon-home" routerLink="../">
          <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</nav>

<!-- Editar Perfil -->
<div class="col-md-12">
    <h2 class="titulo-perfil text-center">Editar Perfil</h2>
    <div class="col-11 mx-auto perfil-container">
        <h3 class="text-center col-7 subtitulo-perfil">Foto de Perfil</h3>
        <div class="row justify-content-around align-items-center">
            <div class="foto-perfil col-5">
                <img [src]="getFotoPerfil()" alt="Foto de perfil" class="img-fluid">
            </div>
            <div class="editar-container col-4 text-center btn btn-secondary" routerLink="../cambiar-imagen">
                <a style="margin-right: 10px;">Editar</a>
                <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
            </div>
        </div>
        <div>
            <!-- Prueba para editar usuario -->
            <div class="col-md-12" style="margin-top: 20px;">
                <h3 class="text-center col-3 subtitulo-perfil">Usuario</h3>
                <div class="row justify-content-evenly">
                    <div class="col-7 text-center">
                        <div class="container-variable" 
                             [attr.contentEditable]="editandoUsuario ? 'true' : 'false'"
                             (blur)="guardarUsuarioEditado()">{{ nombreUsuario }}</div>
                    </div>
                    <div class="col-5 text-center">
                        <div class="editar-container btn btn-secondary" (click)="editarUsuario()">
                            <a style="margin-right: 10px;">Editar</a>
                            <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12" style="margin-top: 20px;">
                <h3 class="text-center col-3 subtitulo-perfil">Nombre</h3>
                <div class="row justify-content-evenly">
                    <div class="col-7 text-center">
                        <p class="container-variable" style="text-decoration: none;">{{ nombreParticipante }} {{ apellidoParticipante }}</p>
                    </div>
                    <div class="col-5 text-center">
                        <div class="editar-container btn btn-secondary">
                            <a style="margin-right: 10px;">Editar</a>
                            <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px;">
                <h3 class="text-center col-3 subtitulo-perfil">Correo</h3>
                <div class="row justify-content-evenly">
                    <div class="col-7 text-center">
                            <p class="container-variable" style="text-decoration: none; margin: -3%; flex-wrap: wrap;">{{ correoParticipante }}</p>
                    </div>
                    <div class="col-5 text-center">
                        <div class="editar-container btn btn-secondary">
                            <a style="margin-right: 10px;">Editar</a>
                            <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>