h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.row {
    margin-left: 0%;
    margin-right: 0%;
}

.titulo-perfil{
    margin-top: 20px;
    color: #ffffff;
}

.perfil-container{
    font-family: Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 50px;
    background: #5a5a5a;
}

.foto-perfil {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 0%;
  }

.foto-perfil img{
    object-fit: cover;
}

.editar-containter{
    padding: 15px;
    border-radius: 70px;
    background-color: #d3d1d1;
}

.container-variable{
    padding: 14px;
    border-radius: 70px;
    color: black;
    background-color: #d3d1d1;
}

.subtitulo-perfil{
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}