$success: #08A44D;
$danger: #C72020;
$warning: #FFD003;
$primary: #D45113;
$secondary: #F8DDA4;

@import "/node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$tarjeta: #5a5a5a;
$boton: #a9a9a9;
$fondo: var(--bs-body-bg);
$contraste: var(--bs-body-color);

.padding-creacion-evento{
    padding-top: ($spacer * 3.4) !important;
    padding-bottom: ($spacer * 6.9) !important;
}

.color-opuesto{
    color: $contraste;
}

html, body {
    height: 100vh !important;
    background-color: $fondo !important;
}

app-root, .fondo{
    height: 100% !important;
    background-color: $fondo !important;
}

.tarjeta{
    background-color: $tarjeta !important;
}

.boton{
    background-color: $boton;
}

label input[type=radio]:checked + i, label input[type=radio]:checked + img{
    background-color: darken($secondary, 20%) !important;
    transition: 0.3s;
}

.bg-secondary-darken{
    background-color: darken($secondary, 10%);
}

.bg-primary-darken{
    background-color: darken($primary, 15%);
}


.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.h-5{
    height: 5%;
}

.h-20{
    height: 20%;
}

.h-90{
    height: 90%;
}

.ant-steps-item-icon {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0% !important;
}

/*Customización del stepper. La pongo acá porque en el css de crearEvento no se importaban las propiedades*/

.ant-steps-item-finish .ant-steps-item-icon {
    border-color: $success !important;
    background-color: $success !important;
    .ant-steps-icon{
        color: $contraste !important;
    }
}

.ant-steps-item-process .ant-steps-item-icon{
    background-color: $primary !important;
    border-color: $primary !important;
    .ant-steps-icon{
        color: $contraste !important;
    }
}

.ant-steps-item-finish .ant-steps-item-title::after{
    background-color: $success !important;
}

.mdc-switch__track::before{
    background-color:$primary !important;
}

.mdc-switch__track::after{
    background-color: $success !important;
}

button[aria-checked = "true"] .mdc-switch__handle::after{
    background-color: darken($success, 15%) !important;
}

button[aria-checked = "false"] .mdc-switch__handle::after{
    background-color: darken($secondary, 15%) !important;
}

[data-bs-theme="verde"]{
    $primary: green;
    $secondary: #F8DDA4;
    $primary-rgb: #{to-rgb($primary)};
    $secondary-rgb: #{to-rgb($secondary)};
}