$primary: #494949;
$secondary: #7C7A7A;
$success: #70C1B3;
$danger: #F5817F;
$warning: #FFE066;

@import "/node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$pepe: #FFE066;