<div *ngIf="invitadosControlService.isVisible" class="popup-invitado">
    <div class="popup-content w-90">
       
        <button (click)="hidePopupInvitado()" style="background-color: #3f4244; color: white;">
            <mat-icon>close</mat-icon>
        </button>
      
        <div class="foto-perfil col-2 mx-auto">
            <!--Aca deberia haber una variable que determine la ruta de la foto => (src="{ruta_foto}")-->
            <img [src]="getFotoPerfil()" alt="Foto de perfil">
        </div>
        <div>
            <h2 style="margin-top: 10px; margin-bottom: 30px;" class="font-weight-bold text-center">{{ invitadosControlService.invitadoNombre }} {{invitadosControlService.invitadoApellido}}</h2>
        </div>
        <div class="text-center" *ngIf="invitadosControlService.soyAdmin">
            Admin
            <mat-slide-toggle (change)="administrador($event)" [(ngModel)]="invitadosControlService.invitado.soyAdmin"></mat-slide-toggle>
        </div>
        <div>
            <button (click)="guardarInvitado(); hidePopupInvitado()">
                Guardar
            </button>
        </div>
        <div *ngIf="invitadosControlService.soyAdmin" class="text-center" style="margin-top: 30px; margin-left: 70%">
            <button (click)="cartelEliminarUsuario(removerInvitado)">
                <i class="bi bi-person-dash-fill">aaaaaaaaaaa</i>
            </button>
        </div>
    </div>
    <ng-template #removerInvitado let-modal >
        <div class="modal-content border-0">
            <div class="modal-header bg-primary">
            <h2 class="modal-title m-0 text-black fw-bolder">Se eliminará a <br> {{invitadosControlService.invitadoNombre}} {{invitadosControlService.invitadoApellido}} <br> de este evento</h2>
            </div>
            <div class="modal-footer bg-secondary">
            <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
            <button class="btn btn-success" (click)="modal.close(); hidePopupInvitado()">Seguro</button>
            </div>
        </div>
    </ng-template>
</div>