h1{
    color: white;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 6%;
}

h2{
    color: rgb(22, 22, 22);
    padding-top: 10%;
    padding-bottom: 4%;
    margin-bottom: 0%;
}
p{
    margin: 3%;
    color: white;
    font-weight: bold;
}
ul{
    padding-left: 0;
    padding-top: 5%;
    width: 80%;
    align-self: center;
}
.containerRecursos{
    background-color: chocolate;
    width: 90%;
    max-height: 300px;
    overflow: auto;
}
.descripcion{
    
    overflow-x: auto;
}
.cajaPrincipal{
    padding-bottom: 5%;
    width: 90%;
}

.boton-central {
  background: none;
  border: none;
  padding-top: 5%;
  padding-bottom: 5%;
}

img{
    background: none;
    border: none;
}
.modal-body{
    color: blueviolet;
}
#botonEliminar{
    background: none;
    border: none;
    color: black;
}
