<mat-card>
    <div id="paso4" class="body">
        <h1 class="tituloAgregarObjetos text-center">Recursos</h1>
        <form class="d-flex justify-content-center">
            <div [formGroup]="formulario" id="cajaObjetos" class="cajaPrincipal">
                <h2 id="tituloObjetos" class="text-center">¿Qué vas a necesitar en tu evento?</h2>
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <div *ngIf="recursos.length===0" class="d-flex flex-column justify-content-around align-items-center">
                    <p>Agregá un recurso para tu evento</p>
                    <button class="boton-central" (click)="mostrarCardAgregar(contenidoAgregar)">
                        <img class="btn btn-secondary" src="assets/iconoMas.png">
                    </button>
                  </div>
                  <div *ngIf="recursos.length!=0" class="d-flex flex-row justify-content-center align-items-center">
                    <p>Recursos: {{ recursos.length }}</p>
                    <button class="boton-central" (click)="mostrarCardAgregar(contenidoAgregar)">
                        <img class="btn btn-secondary" src="assets/iconoMas.png">
                    </button>
                  </div>
                  <div class="containerRecursos rounded-2">
                    <div *ngFor="let recurso of recursos" class="d-flex align-items-center justify-content-center">
                      <button id="botonEliminar" *ngIf="modoBorrado===true" (click)="eliminarRecurso(recurso)"><i class="bi bi-trash"></i></button>
                      <ul>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <li>{{ recurso.nombre }}</li>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-panel-description>
                          <li>Tipo recurso: {{ nombreTipoRecursoSegunId(recurso.categoria) }}</li>
                        </mat-panel-description> 
                        <mat-panel-description>
                          <li>Descripción: <div class="descripcion">{{ recurso.descripcion }}</div></li>
                        </mat-panel-description>
                        <mat-panel-description>
                          <li>Cantidad: {{ recurso.cantidad }}</li>
                        </mat-panel-description>
                        </mat-expansion-panel>
                      </ul>
                    </div>
                  </div>
                  <div *ngIf="recursos.length!=0">
                    <mat-slide-toggle (change)="cambiarAModoBorrado($event)" class="mi-slide-toggle">
                    <h2>Eliminar Recursos</h2>
                    </mat-slide-toggle>
                </div>
               </div>
              </div>
        </form>
    </div>
</mat-card>

<ng-template #contenidoAgregar let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Agregar recurso</h5>
      <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-crear-recurso #componenteCrearRecurso [tiposDeRecursos]="tiposDeRecursos"></app-crear-recurso>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary-inverse" (click)='modal.dismiss()'>Cerrar</button>
      <button class="btn btn-primary" (click)='modal.close(componenteCrearRecurso)'>Agregar recurso</button>
    </div>
  </div>
</ng-template>
