<mat-card>
    <div id="paso4" class="body">
        <h1 class="tituloAgregarObjetos d-flex align-items-center justify-content-center">Recursos</h1>
        <form class="d-flex justify-content-center">
            <div id="cajaObjetos" class="cajaPrincipal">
                <h2 id="tituloObjetos" class="d-flex justify-content-center">Defina Objetos Necesarios</h2>
                <div class="d-flex flex-column justify-content-around align-items-center">
                    <p>Agregar recurso</p>
                    <button>
                        <img class="btn btn-secondary" src="assets/iconoMas.png">
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-card>
