
label {
    background-color: rgb(77, 77, 77);
}

label input[type=radio] {
    display: none;
}

label i {
    color: black;
}
label input[type=radio]:checked + i{
    background-color: darkgrey;
    transition: 0.3s;
}