<mat-card>
    <div id="paso2">
        <h1 class="tituloTipoEvento">Tipo de Evento y Modalidad</h1>

        <form>
            <div id="cajaTipoEvento">
                <h2 id="tituloTipoEvento" class="d-flex justify-content-center">Defina el Tipo de Evento</h2>
                <div id="formalOInformal" class="d-flex justify-content-around">
                    <div id="informal">
                        <p>Informal</p>
                        <input type="radio" name="formalOInformal" id="informal" value="informal">
                        <label for="informal">imagen</label>
                    </div>
                    <div id="formal">
                        <p>Formal</p>
                        <input type="radio" name="formalOInformal" id="formal" value="formal">
                        <label for="formal">imagen</label>
                    </div>
                </div>
    
                <h2 id="tituloTipoInvitacion" class="d-flex justify-content-center">Defina el Tipo de Invitacion</h2>
                <div id="directaOPorAprobacion" class="d-flex justify-content-around align-items-center">
                    <div id="directa">
                        <p>Directa</p>
                        <input type="radio" name="tituloTipoInvitacion" id="directa" value="directa">
                        <label for="directa">imagen</label>
                    </div>
                    <div id="porAprobacion">
                        <p>Por Aprobacion</p>
                        <input type="radio" name="tituloTipoInvitacion" id="porAprobacion" value="porAprobacion">
                        <label for="porAprobacion">imagen</label>
                    </div>
                </div>
                
            </div>
        </form>
        
    </div>
</mat-card>