<div class="fondo w-100" style="padding-top: 80px">
  <div class="bg-dark-subtle fixed-top d-flex align-items-center justify-content-between p-3">
    <mat-button-toggle class="rounded-2 border-0 bg-light-subtle px-3 py-2" routerLink="../">
      <i class="color-opuesto bi bi-arrow-left mx-1 smaller-icon"></i>
    </mat-button-toggle>
  </div>

  <h1 class="mx-auto text-center col-11 text-white" style="font-weight:bold">
    Calendario de Eventos
  </h1>

  <div class="col-11 mx-auto my-auto">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
    ></mwl-calendar-month-view>
  </div>

</div>

