html{
    font-size: 100%;
    height: 100%;
    width: 100%;
}

body {
    padding: 20px;
  }


@media (min-width: 800px) {
body {
    padding-left: 8%;
    padding-right: 8%;
    }
}

  .my-box {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
.conteinerInicial{
    max-width: 1200px;
    min-width: 800px;
    background-color: #fff;
}

/* Círculos posteriores */
div#burbujas {
    background-color: black;
    border-radius: 150px;
    max-width: 70px;
    max-height: 70px;
    min-height: 25px;
    min-width: 25px;
    width: 100%;
    height: 100%;
}
#anchoBurbuja{
    width: 6vw;
    height: 6vw;
}
div#texto {
    text-align: center;
    font-size: 1em;
}
div h2{
    color: white;
    font-size: 2.5vw;
    margin-bottom: 0rem;
}
#texto h4{
    font-size: 1.3vw;
}

#filaPrincipal{
    position: fixed;
    top:0px;
    width: 100%;
    max-height: 160px;
    background-color: #fff;
    padding-top: 1%;
    padding-bottom: 4%;
    z-index: 100;
}
/* __________________________Burbuja de Texto_________________________________________ */
.tituloGrupo{
    margin-top: 10%;
    margin-bottom: 15px;
}
#primerTitulo{
    margin-top: 15%;
}
.tituloGrupo h1{
    font-size: 3vw;
}

.burbujaDeTexto input{
    padding: 15px 0px 15px 0px;
    width: 100%;
    height: 100%;
    border-radius: 150px;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    text-align: center;
    font-size: 4vw;
    color: #000000;
}
/* __________________________Formalidad de evento__________________________________________ */
.icon{
    width: 10%;
}
.icon img{
    width: 100%;
    max-width: 128px;
    min-width: 15px;
    height: auto;
}

.button-box {
display: flex;
justify-content: space-around;
width: 80%;
height: auto;
max-width: 700px;
min-width: 50px;
margin: auto;
position: relative;
border-radius: 100px;
background: #6D6D6D;
}
#botonIzqFormal{
color: #fff;
font-size: 4vw;
max-width: 20em;
}

#botonDerFormal{
    font-size: 4vw;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

#barraFormal {
    left: 10%;
    top: 0;
    position: absolute;
    width: 30%;
    height: 100%;
    background: #D9D9D9;
    border-radius: 100px;
    transition: .5s;
}

.right-aligned {
    left: calc(100%); 
}


@media (min-width: 800px) {
    #botonIzqFormal{
        font-size: 32px;
    }
        
    #botonDerFormal{
        font-size: 32px;
    }
    }
/* __________________________________Visibilidad Evento__________________________________ */
#botonIzqVisib{
    color: #fff;
    font-size: 4vw;
    }
    
#botonDerVisib{
    font-size: 4vw;
}


#barraVisib {
    left: 10%;
    top: 0;
    position: absolute;
    width: 30%;
    height: 100%;
    background: #D9D9D9;
    border-radius: 30px;
    transition: .5s;
}

@media (min-width: 800px) {
    #botonIzqVisib{
        font-size: 32px;
    }
        
    #botonDerVisib{
        font-size: 32px;
    }
}
/* ____________________________________________________________________ */

.burbujaDeTextoGrande textarea{
    padding: 35px 50px 10px 50px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    max-height: 250px;
    border-radius: 50px;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    text-align: left;
    font-size: 3vw;
    color: #000000;
}


/* _______________________________ */
.botonSiguiente{
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 5% 5% 5% 5%;
    z-index: 2;
}

.siguiente{
    position: fixed;
    bottom: 13%;
    right: 10%;
    width: 20%;
    max-height: 90px;
    height: auto;
    background-color: #6D6D6D;
    border-radius: 20px;
}

.pieDePagina{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    max-height: 50px;
    background-color: purple;
}
.bi{
    font-size: 4vw;
}