<!-- Configuracion -->
<div #configuracion class="fondo h-100 w-100 overflow-x-hidden padding-navbar-inf d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <h1 class="color-opuesto text-center fw-bold pt-3">Configuración</h1>
  <div class="container-fluid w-90 bg-primary rounded-5 p-4 shadow-lg">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="mb-0">Cuenta:</h2>
      <p class="fs-6 mb-0">{{ correoUsuario }} ({{ nombreUsuario }})</p>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="mb-0">Notificaciones</h2>
      <div class="d-flex">
        <mat-slide-toggle class="bg-secondary p-2 rounded-3"></mat-slide-toggle>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="mb-0">Tema claro</h2>
      <div class="d-flex">
        <mat-slide-toggle class="bg-secondary p-2 rounded-3" (change)="cambiarModo($event)" [(ngModel)]="temaClaroActivado"></mat-slide-toggle>
      </div>
    </div>
    <button class="btn rounded-pill bg-black text-white text-center fw-bold" (click)="cartelCerrarSesion(cerrarSesion)"><i class="bi bi-box-arrow-left align-items-center fs-3"><p class="ps-2 m-0 fst-normal fs-3">Cerrar sesión</p></i></button>
  </div>
  </div>
</div>


<ng-template #cerrarSesion let-modal>
  <div class="modal-content border-0">
    <div class="modal-header bg-primary">
      <h2 class="modal-title m-0 text-black fw-bolder">¿Cerrar Sesion?</h2>
    </div>
    <div class="modal-footer bg-secondary">
      <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
      <button class="btn btn-warning" (click)="modal.close()">Seguro</button>
    </div>
  </div>
</ng-template>