<!-- Navbar -->
<nav class="bg-dark-subtle fixed-top d-flex justify-content-start px-2 py-2 altura-nav">
      <button class="ms-2 rounded-2 border-0 bg-light-subtle px-5 py-2" type="button" routerLink="./eventos">
        <i class="bi bi-arrow-left fs-2 color-opuesto"></i>
      </button>
</nav>

<!-- Configuracion -->
<div class="fondo h-100 overflow-x-hidden padding-header-footer">
  <h1 class="color-opuesto text-center fw-bold">Configuración</h1>
  <div class="container w-90 bg-primary rounded-5 p-4 shadow-lg">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="mb-0">Cuenta:</h2>
      <p class="fs-6 mb-0">{{ correoUsuario }} ({{ nombreUsuario }})</p>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="mb-0">Notificaciones</h2>
      <div class="d-flex">
        <mat-slide-toggle class="bg-secondary p-2 rounded-3"></mat-slide-toggle>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="mb-0">Tema claro</h2>
      <div class="d-flex">
        <mat-slide-toggle class="bg-secondary p-2 rounded-3" (change)="cambiarModo($event)" [(ngModel)]="configuracionService.temaClaro"></mat-slide-toggle>
      </div>
    </div>
    <div>
      <h2>Acerca de:</h2>
      <h3>Version</h3>
      <h3>Terminos y condiciones</h3>
      <h3>Politica de privacidad</h3>
      <h3>Ayuda / FAQ</h3>
    </div>
      <h2>Otro</h2>
      <button class="btn rounded-pill bg-black text-white text-center fw-bold" (click)="cartelCerrarSesion(cerrarSesion)">Cerrar Sesión</button>
  </div>
</div>


<ng-template #cerrarSesion let-modal>
  <div class="modal-content border-0">
    <div class="modal-header bg-primary">
      <h2 class="modal-title m-0 text-black fw-bolder">¿Cerrar Sesion?</h2>
    </div>
    <div class="modal-footer bg-secondary">
      <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
      <button class="btn btn-warning" (click)="modal.close()">Seguro</button>
    </div>
  </div>
</ng-template>