<div class="body">
  <div class="configuracion-container">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg col-md-12" style="background-color: #262626">
  <div class="container-fluid">
      <button mat-icon-button style="background-color: #5a5a5a; color: white;" class="" type="button" routerLink="">
        <mat-icon>arrow_back</mat-icon>
      </button>
  </div>
</nav>

<!-- Configuracion -->
<div class="col-md-12">
  <h2 class="titulo-configuracion text-center">Configuración</h2>
  <div class="col-11 mx-auto seccion-configuracion">
    <div class="seccion-cuenta">
      <h3>Cuenta:</h3>
      <p>{{ nombreUsuario }} / Email: {{ correoUsuario }}</p>
    </div>

    <div class="seccion-notificaciones">
      <h3>Notificaciones</h3>
      <mat-slide-toggle></mat-slide-toggle>
    </div>

    <div class="">
      <h3>Tema</h3>
      <mat-slide-toggle (change)="cambiarModo($event)"></mat-slide-toggle>
    </div>

    <div class="seccion-acerca">
      <h3>Acerca de:</h3>
      <p>Version</p>
      <p>Terminos y condiciones</p>
      <p>Politica de privacidad</p>
      <p>Ayuda / FAQ</p>
    </div>

    <div class="seccion-otro">
      <h3>Otro</h3>
      <button mat-raised-button class="cerrar-sesion-button">Cerrar Sesión</button>
    </div>
  </div>
</div>
</div>
