<div class="color-picker">
    <div class="titulo">
      <h2 class="color-picker-title">Modificar tarjeta</h2>
    </div>
    <h3 class="color-picker-subtitle">Color</h3>
    <div class="color-options">
      <button (click)="seleccionarColor('#ef7d16')" class="color-button" [ngClass]="{ 'selected': selectedColor === '#ef7d16' }" [ngStyle]="{ 'background-color': '#ef7d16' }">
        <div class="color-dot" [ngStyle]="{ 'background-color': '#ef7d16' }"></div>
      </button>
      <button (click)="seleccionarColor('#76b730')" class="color-button" [ngClass]="{ 'selected': selectedColor === '#76b730' }" [ngStyle]="{ 'background-color': '#76b730' }">
        <div class="color-dot" [ngStyle]="{ 'background-color': '#76b730' }"></div>
      </button>
      <button (click)="seleccionarColor('#4e5fa8')" class="color-button" [ngClass]="{ 'selected': selectedColor === '#4e5fa8' }" [ngStyle]="{ 'background-color': '#4e5fa8' }">
        <div class="color-dot" [ngStyle]="{ 'background-color': '#4e5fa8' }"></div>
      </button>
      <button (click)="seleccionarColor('#df3c65')" class="color-button" [ngClass]="{ 'selected': selectedColor === '#df3c65' }" [ngStyle]="{ 'background-color': '#df3c65' }">
        <div class="color-dot" [ngStyle]="{ 'background-color': '#df3c65' }"></div>
      </button>
      <button (click)="seleccionarColor('#9f9f9e')" class="color-button" [ngClass]="{ 'selected': selectedColor === '#9f9f9e' }" [ngStyle]="{ 'background-color': '#9f9f9e' }">
        <div class="color-dot" [ngStyle]="{ 'background-color': '#9f9f9e' }"></div>
      </button>
    </div>
  </div>
  