/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

h1 {
    color: white !important;
}

h2, h3, p {
    color: black !important;
}
.body-evento{
    background-color: #3a3a3a !important;
}

.cajaPrincipal{
    background-color: #5a5a5a !important;
}

.w-90{
    width: 90%;
}

.box{
    background-color: #a9a9a9 !important;
}