/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    touch-action: none;
    background-color: #3a3a3a !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

h1, p{
    color: white !important;
}

h2, h3{
    color: black !important;
}
.body-evento{
    background-color: #3a3a3a !important;
}

.cajaPrincipal{
    background-color: #5a5a5a !important;
}

.w-90{
    width: 90%;
}

.box{
    background-color: #a9a9a9 !important;
}

.ant-steps-item-icon {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0% !important;
}
/*Customización del stepper. La pongo acá porque en el css de crearEvento no se importaban las propiedades*/

.ant-steps-item-finish .ant-steps-item-icon {
    border-color: green !important;
    background-color: green !important;
    .anticon{
        color: black !important
    }
}

.ant-steps-item-wait .ant-steps-item-icon{
    border-color: white !important;
}

.ant-steps-item-wait .ant-steps-item-title::after, .ant-steps-item-process .ant-steps-item-title::after{
    background-color: white !important;
}

.ant-steps-item-process .ant-steps-item-icon{
    background-color: #880e4f !important;
    border-color: #880e4f !important;
}

.ant-steps-item-finish .ant-steps-item-title::after{
    background-color: green !important;
}

