@font-face {
    font-family: 'Segoe UI';
    src: url('/src/assets/fonts/SegoeUI-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, .mat-typography h1, h2, h3, p, input, textarea, button, select, span, div, label{
    font-family: Segoe UI, sans-serif !important;
}

i{
    display:flex;
}

.altura-nav{
    height: 60px;
}


.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: var(--bs-primary)!important;
    --mat-tab-header-disabled-ripple-color: rgba(var(--bs-body-color), 1)!important;
    --mat-tab-header-pagination-icon-color: var(--bs-body-color)!important;
    --mat-tab-header-inactive-label-text-color: rgba(var(--bs-body-color), 1)!important;
    --mat-tab-header-active-label-text-color: var(--bs-primary)!important;
    --mat-tab-header-active-ripple-color: var(--bs-primary)!important;
    --mat-tab-header-inactive-ripple-color: var(--bs-primary)!important;
    --mat-tab-header-inactive-focus-label-text-color: rgba(var(--bs-body-color), 1)!important;
    --mat-tab-header-inactive-hover-label-text-color: rgba(var(--bs-body-color), 1)!important;
    --mat-tab-header-active-focus-label-text-color: var(--bs-primary)!important;
    --mat-tab-header-active-hover-label-text-color: var(--bs-primary)!important;
    --mat-tab-header-active-focus-indicator-color: var(--bs-primary)!important;
    --mat-tab-header-active-hover-indicator-color: var(--bs-primary)!important;
}

.mat-mdc-tab[aria-selected="false"]{
    color:var(--bs-body-color)!important;
}