<!-- Perfil -->
<div class="fondo w-100 h-100 padding-header-footer">
  <h1 class="color-opuesto text-center fw-bold">Perfil</h1>
  <div class="col-11 mx-auto bg-primary p-2 rounded-4">
      <h1 class="text-center subtitulo-perfil fw-bold mb-0">Foto de Perfil</h1>
      <div class="row justify-content-around align-items-center my-4">
          <div class="foto-perfil col-5">
              <img *ngIf="fotoPerfilUsuario !== ''" [src]="'assets/'+ fotoPerfilUsuario" alt="Foto de perfil" class="img-fluid rounded-circle border border-3 border-secondary">
          </div>
          <label class="editar-container col-4 d-flex justify-content-center align-items-center btn btn-secondary" routerLink="./cambiar-imagen">
            <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
            <p class="m-0 fw-bold">editar</p>
          </label>
      </div>
      <div class="container-fluid">
        <div class="row align-items-center my-2">
          <div class="col-3">
            <h2 class="m-0 fw-bold">Nombre</h2>
          </div>
          <div class="col">
            <p class="bg-secondary rounded-2 m-0 text-center py-2">{{ nombreUsuario }}</p>
          </div>
        </div>
        <div class="row align-items-center my-2">
          <div class="col-3">
            <h2 class="m-0 fw-bold">Apellido</h2>
          </div>
          <div class="col">
            <p class="bg-secondary rounded-2 m-0 text-center py-2">{{ apellidoUsuario }}</p>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <button class="btn btn-secondary d-flex justify-content-center align-items-center py-1 border-0 rounded-2 w-100" (click)="mostrarCardAgregar(contenidoAgregar)">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
              <p class="m-0 fw-bold">Editar Nombre y Apellido</p>
            </button>
          </div>
        </div>
        <div class="row mt-3 mb-2 align-items-center">
          <div class="col-3">
            <h2 class="m-0 fw-bold">Correo</h2>
          </div>
          <div class="col">
            <p class="bg-secondary rounded-2 text-break py-2 text-center m-0">{{ correoUsuario }}</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn rounded-pill bg-black text-white text-center fw-bold" (click)="cartelCerrarSesion(cerrarSesion)"><i class="bi bi-box-arrow-left align-items-center fs-3"><p class="ps-2 m-0 fst-normal fs-3">Cerrar sesión</p></i></button>
      </div>
  </div>
</div>




<ng-template #contenidoAgregar let-modal>
  <form [formGroup]="formulario">
    <div class="modal-content border-0">
  <div class="modal-header bg-primary">
      <h2 class="modal-title text-black m-0 fw-bolder">Editar Perfil</h2>
    </div>
    <div class="modal-body bg-primary-darken">
      <label class="container-fluid">
        <p class="fw-bold text-white m-0">Nombre</p>
        <input class="form-control border-0 bg-secondary text-black py-2" [value]="formulario.get('nombreUsuario')?.value" [formControlName]="'nombreUsuario'" type="text">
      </label>
      <label class="container-fluid">
        <p class="fw-bold text-white m-0">Apellido</p>
        <input class="form-control border-0 bg-secondary text-black py-2" [value]="formulario.get('apellidoUsuario')?.value" [formControlName]="'apellidoUsuario'" type="text">
      </label>
    </div>
    <div class="modal-footer bg-primary">
      <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
      <button class="btn btn-success" (click)="validarYCerrarModal()? modal.close(contenidoAgregar) : null">Guardar</button> <!--modal.validarYCerrarModal(componenteCrearRecurso);-->
    </div>
  </div>
</form>
</ng-template>

<ng-template #errorModalContent let-modal >
  <div class="modal-body bg-warning">
    <h2 class="m-0 text-dark">¡Atención!</h2>
  </div>
  <div class="container-fluid modal-footer bg-primary rounded-bottom">
    <div class="row">
      <h3 class="text-black text-center px-0">Por favor, complete los campos que quedaron incompletos 🙂</h3>
      <button type="button" class="btn btn-outline-warning" (click)="modal.close(errorModalContent)">Cerrar</button>
    </div>
  </div>
</ng-template>

<ng-template #cerrarSesion let-modal>
  <div class="modal-content border-0">
    <div class="modal-header bg-primary">
      <h2 class="modal-title m-0 text-black fw-bolder">¿Cerrar Sesion?</h2>
    </div>
    <div class="modal-footer bg-secondary">
      <button type="button" class="btn btn-outline-danger" (click)='modal.dismiss()'>Cerrar</button>
      <button class="btn btn-warning" (click)="modal.close()">Seguro</button>
    </div>
  </div>
</ng-template>